# .gitignore
# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production

# Keep example files
!.env.development.example
!.env.production.example

# Dependency directories
node_modules/

# Build outputs
dist/
output/*
!output/design_tokens.css
!output/design_tokens.json
test-output/

# Logs
logs
*.log
npm-debug.log*

# npm package files
*.tgz

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store