:root {

  /* Colors */
  --color-base-lightest: #F0F0F0;
  --color-base-lighter: #E6E6E6;
  --color-base-light: #A6A6A6;
  --color-base-medium: #757575;
  --color-base-dark: #454545;
  --color-base-darker: #1F1F1F;
  --color-base-darkest: #1A1A1A;
  --color-primary-lighter: #C5DCEF;
  --color-primary-light: #4A89DA;
  --color-primary-medium: #2E5C9F;
  --color-primary-vivid: #0066CC;
  --color-primary-dark: #0050d8;
  --color-primary-darker: #0D3875;
  --color-primary-lightest: #E8F1FA;
  --color-primary-darkest: #062657;
  --color-secondary-lighter: #666666;
  --color-secondary-light: #666666;
  --color-secondary-medium: #666666;
  --color-secondary-vivid: #666666;
  --color-secondary-dark: #666666;
  --color-secondary-darker: #666666;
  --color-secondary-darkest: #666666;
  --color-secondary-lightest: #666666;
  --color-accent-cool-lighter: #666666;
  --color-accent-cool-light: #666666;
  --color-accent-cool-medium: #666666;
  --color-accent-cool-dark: #666666;
  --color-accent-cool-darker: #666666;
  --color-accent-cool-lightest: #666666;
  --color-accent-cool-darkest: #666666;
  --color-accent-cool-vivid: #666666;
  --color-accent-warm-lighter: #E6E1ED;
  --color-accent-warm-light: #666666;
  --color-accent-warm-medium: #7C6B99;
  --color-accent-warm-dark: #666666;
  --color-accent-warm-darker: #666666;
  --color-accent-warm-lightest: #F7F5F9;
  --color-accent-warm-darkest: #251B45;
  --color-accent-warm-vivid: #6B4DE0;
  --color-info-lighter: #666666;
  --color-info-light: #666666;
  --color-info-medium: #666666;
  --color-info-dark: #666666;
  --color-info-darker: #666666;
  --color-info-lightest: #666666;
  --color-info-darkest: #666666;
  --color-error-lighter: #e52207;
  --color-error-light: #e52207;
  --color-error-medium: #e52207;
  --color-error-dark: #e52207;
  --color-error-darker: #e52207;
  --color-error-lightest: #e52207;
  --color-error-darkest: #e52207;
  --color-warning-lighter: #fee685;
  --color-warning-light: #fee685;
  --color-warning-medium: #fee685;
  --color-warning-dark: #fee685;
  --color-warning-darker: #fee685;
  --color-warning-lightest: #fee685;
  --color-warning-darkest: #fee685;
  --color-success-lighter: #008817;
  --color-success-light: #008817;
  --color-success-medium: #008817;
  --color-success-dark: #008817;
  --color-success-darker: #008817;
  --color-success-lightest: #008817;
  --color-success-darkest: #008817;
  --color-disabled-light: #000000;
  --color-disabled-medium: #000000;
  --color-disabled-dark: #ffffff;
  --color-disabled-darker: #ffffff;
  --color-disabled-darkest: #ffffff;
  --color-disabled-lighter: #000000;
  --color-disabled-lightest: #000000;
  --color-emergency-medium: #e52207;
  --color-emergency-dark: #e52207;
  --color-ink: #-theme.color.base.darkest;
  --color-ink-reverse: #ffffff;

  /* Font Sizes */
  --font-size-reading-3xs: 1rem;
  --font-size-reading-2xs: 1rem;
  --font-size-reading-xs: 1rem;
  --font-size-reading-sm: 1rem;
  --font-size-reading-md: 1rem;
  --font-size-reading-lg: 1rem;
  --font-size-reading-xl: 1rem;
  --font-size-reading-2xl: 1rem;
  --font-size-reading-3xl: 1rem;
  --font-size-display-3xs: 1rem;
  --font-size-display-2xs: 1rem;
  --font-size-display-xs: 1rem;
  --font-size-display-sm: 1rem;
  --font-size-display-md: 1rem;
  --font-size-display-lg: 1rem;
  --font-size-display-xl: 1rem;
  --font-size-display-2xl: 1rem;
  --font-size-display-3xl: 1rem;
  --font-size-mono-3xs: 1rem;
  --font-size-mono-2xs: 1rem;
  --font-size-mono-xs: 1rem;
  --font-size-mono-sm: 1rem;
  --font-size-mono-md: 1rem;
  --font-size-mono-lg: 1rem;
  --font-size-mono-xl: 1rem;
  --font-size-mono-2xl: 1rem;
  --font-size-mono-3xl: 1rem;
  --font-size-proto-3xs: 1rem;
  --font-size-proto-2xs: 1rem;
  --font-size-proto-xs: 1rem;
  --font-size-proto-sm: 1rem;
  --font-size-proto-md: 1rem;
  --font-size-proto-lg: 1rem;
  --font-size-proto-xl: 1rem;
  --font-size-proto-2xl: 1rem;
  --font-size-proto-3xl: 1rem;

  /* Font Weights */
  --font-weight-bold: extra bold;
  --font-weight-normal: regular;
  --font-weight-thin: regular;
  --font-weight-light: regular;
  --font-weight-semibold: extra bold;
  --font-weight-heavy: extra bold;

  /* Spacing */
  --spacing-breakpoint: 4rem;
  --spacing-width: 1rem;
}

/* Color Utility Classes */
.color-base-lightest { color: var(--color-base-lightest); }
.bg-base-lightest { background-color: var(--color-base-lightest); }
.color-base-lighter { color: var(--color-base-lighter); }
.bg-base-lighter { background-color: var(--color-base-lighter); }
.color-base-light { color: var(--color-base-light); }
.bg-base-light { background-color: var(--color-base-light); }
.color-base-medium { color: var(--color-base-medium); }
.bg-base-medium { background-color: var(--color-base-medium); }
.color-base-dark { color: var(--color-base-dark); }
.bg-base-dark { background-color: var(--color-base-dark); }
.color-base-darker { color: var(--color-base-darker); }
.bg-base-darker { background-color: var(--color-base-darker); }
.color-base-darkest { color: var(--color-base-darkest); }
.bg-base-darkest { background-color: var(--color-base-darkest); }
.color-primary-lighter { color: var(--color-primary-lighter); }
.bg-primary-lighter { background-color: var(--color-primary-lighter); }
.color-primary-light { color: var(--color-primary-light); }
.bg-primary-light { background-color: var(--color-primary-light); }
.color-primary-medium { color: var(--color-primary-medium); }
.bg-primary-medium { background-color: var(--color-primary-medium); }
.color-primary-vivid { color: var(--color-primary-vivid); }
.bg-primary-vivid { background-color: var(--color-primary-vivid); }
.color-primary-dark { color: var(--color-primary-dark); }
.bg-primary-dark { background-color: var(--color-primary-dark); }
.color-primary-darker { color: var(--color-primary-darker); }
.bg-primary-darker { background-color: var(--color-primary-darker); }
.color-primary-lightest { color: var(--color-primary-lightest); }
.bg-primary-lightest { background-color: var(--color-primary-lightest); }
.color-primary-darkest { color: var(--color-primary-darkest); }
.bg-primary-darkest { background-color: var(--color-primary-darkest); }
.color-secondary-lighter { color: var(--color-secondary-lighter); }
.bg-secondary-lighter { background-color: var(--color-secondary-lighter); }
.color-secondary-light { color: var(--color-secondary-light); }
.bg-secondary-light { background-color: var(--color-secondary-light); }
.color-secondary-medium { color: var(--color-secondary-medium); }
.bg-secondary-medium { background-color: var(--color-secondary-medium); }
.color-secondary-vivid { color: var(--color-secondary-vivid); }
.bg-secondary-vivid { background-color: var(--color-secondary-vivid); }
.color-secondary-dark { color: var(--color-secondary-dark); }
.bg-secondary-dark { background-color: var(--color-secondary-dark); }
.color-secondary-darker { color: var(--color-secondary-darker); }
.bg-secondary-darker { background-color: var(--color-secondary-darker); }
.color-secondary-darkest { color: var(--color-secondary-darkest); }
.bg-secondary-darkest { background-color: var(--color-secondary-darkest); }
.color-secondary-lightest { color: var(--color-secondary-lightest); }
.bg-secondary-lightest { background-color: var(--color-secondary-lightest); }
.color-accent-cool-lighter { color: var(--color-accent-cool-lighter); }
.bg-accent-cool-lighter { background-color: var(--color-accent-cool-lighter); }
.color-accent-cool-light { color: var(--color-accent-cool-light); }
.bg-accent-cool-light { background-color: var(--color-accent-cool-light); }
.color-accent-cool-medium { color: var(--color-accent-cool-medium); }
.bg-accent-cool-medium { background-color: var(--color-accent-cool-medium); }
.color-accent-cool-dark { color: var(--color-accent-cool-dark); }
.bg-accent-cool-dark { background-color: var(--color-accent-cool-dark); }
.color-accent-cool-darker { color: var(--color-accent-cool-darker); }
.bg-accent-cool-darker { background-color: var(--color-accent-cool-darker); }
.color-accent-cool-lightest { color: var(--color-accent-cool-lightest); }
.bg-accent-cool-lightest { background-color: var(--color-accent-cool-lightest); }
.color-accent-cool-darkest { color: var(--color-accent-cool-darkest); }
.bg-accent-cool-darkest { background-color: var(--color-accent-cool-darkest); }
.color-accent-cool-vivid { color: var(--color-accent-cool-vivid); }
.bg-accent-cool-vivid { background-color: var(--color-accent-cool-vivid); }
.color-accent-warm-lighter { color: var(--color-accent-warm-lighter); }
.bg-accent-warm-lighter { background-color: var(--color-accent-warm-lighter); }
.color-accent-warm-light { color: var(--color-accent-warm-light); }
.bg-accent-warm-light { background-color: var(--color-accent-warm-light); }
.color-accent-warm-medium { color: var(--color-accent-warm-medium); }
.bg-accent-warm-medium { background-color: var(--color-accent-warm-medium); }
.color-accent-warm-dark { color: var(--color-accent-warm-dark); }
.bg-accent-warm-dark { background-color: var(--color-accent-warm-dark); }
.color-accent-warm-darker { color: var(--color-accent-warm-darker); }
.bg-accent-warm-darker { background-color: var(--color-accent-warm-darker); }
.color-accent-warm-lightest { color: var(--color-accent-warm-lightest); }
.bg-accent-warm-lightest { background-color: var(--color-accent-warm-lightest); }
.color-accent-warm-darkest { color: var(--color-accent-warm-darkest); }
.bg-accent-warm-darkest { background-color: var(--color-accent-warm-darkest); }
.color-accent-warm-vivid { color: var(--color-accent-warm-vivid); }
.bg-accent-warm-vivid { background-color: var(--color-accent-warm-vivid); }
.color-info-lighter { color: var(--color-info-lighter); }
.bg-info-lighter { background-color: var(--color-info-lighter); }
.color-info-light { color: var(--color-info-light); }
.bg-info-light { background-color: var(--color-info-light); }
.color-info-medium { color: var(--color-info-medium); }
.bg-info-medium { background-color: var(--color-info-medium); }
.color-info-dark { color: var(--color-info-dark); }
.bg-info-dark { background-color: var(--color-info-dark); }
.color-info-darker { color: var(--color-info-darker); }
.bg-info-darker { background-color: var(--color-info-darker); }
.color-info-lightest { color: var(--color-info-lightest); }
.bg-info-lightest { background-color: var(--color-info-lightest); }
.color-info-darkest { color: var(--color-info-darkest); }
.bg-info-darkest { background-color: var(--color-info-darkest); }
.color-error-lighter { color: var(--color-error-lighter); }
.bg-error-lighter { background-color: var(--color-error-lighter); }
.color-error-light { color: var(--color-error-light); }
.bg-error-light { background-color: var(--color-error-light); }
.color-error-medium { color: var(--color-error-medium); }
.bg-error-medium { background-color: var(--color-error-medium); }
.color-error-dark { color: var(--color-error-dark); }
.bg-error-dark { background-color: var(--color-error-dark); }
.color-error-darker { color: var(--color-error-darker); }
.bg-error-darker { background-color: var(--color-error-darker); }
.color-error-lightest { color: var(--color-error-lightest); }
.bg-error-lightest { background-color: var(--color-error-lightest); }
.color-error-darkest { color: var(--color-error-darkest); }
.bg-error-darkest { background-color: var(--color-error-darkest); }
.color-warning-lighter { color: var(--color-warning-lighter); }
.bg-warning-lighter { background-color: var(--color-warning-lighter); }
.color-warning-light { color: var(--color-warning-light); }
.bg-warning-light { background-color: var(--color-warning-light); }
.color-warning-medium { color: var(--color-warning-medium); }
.bg-warning-medium { background-color: var(--color-warning-medium); }
.color-warning-dark { color: var(--color-warning-dark); }
.bg-warning-dark { background-color: var(--color-warning-dark); }
.color-warning-darker { color: var(--color-warning-darker); }
.bg-warning-darker { background-color: var(--color-warning-darker); }
.color-warning-lightest { color: var(--color-warning-lightest); }
.bg-warning-lightest { background-color: var(--color-warning-lightest); }
.color-warning-darkest { color: var(--color-warning-darkest); }
.bg-warning-darkest { background-color: var(--color-warning-darkest); }
.color-success-lighter { color: var(--color-success-lighter); }
.bg-success-lighter { background-color: var(--color-success-lighter); }
.color-success-light { color: var(--color-success-light); }
.bg-success-light { background-color: var(--color-success-light); }
.color-success-medium { color: var(--color-success-medium); }
.bg-success-medium { background-color: var(--color-success-medium); }
.color-success-dark { color: var(--color-success-dark); }
.bg-success-dark { background-color: var(--color-success-dark); }
.color-success-darker { color: var(--color-success-darker); }
.bg-success-darker { background-color: var(--color-success-darker); }
.color-success-lightest { color: var(--color-success-lightest); }
.bg-success-lightest { background-color: var(--color-success-lightest); }
.color-success-darkest { color: var(--color-success-darkest); }
.bg-success-darkest { background-color: var(--color-success-darkest); }
.color-disabled-light { color: var(--color-disabled-light); }
.bg-disabled-light { background-color: var(--color-disabled-light); }
.color-disabled-medium { color: var(--color-disabled-medium); }
.bg-disabled-medium { background-color: var(--color-disabled-medium); }
.color-disabled-dark { color: var(--color-disabled-dark); }
.bg-disabled-dark { background-color: var(--color-disabled-dark); }
.color-disabled-darker { color: var(--color-disabled-darker); }
.bg-disabled-darker { background-color: var(--color-disabled-darker); }
.color-disabled-darkest { color: var(--color-disabled-darkest); }
.bg-disabled-darkest { background-color: var(--color-disabled-darkest); }
.color-disabled-lighter { color: var(--color-disabled-lighter); }
.bg-disabled-lighter { background-color: var(--color-disabled-lighter); }
.color-disabled-lightest { color: var(--color-disabled-lightest); }
.bg-disabled-lightest { background-color: var(--color-disabled-lightest); }
.color-emergency-medium { color: var(--color-emergency-medium); }
.bg-emergency-medium { background-color: var(--color-emergency-medium); }
.color-emergency-dark { color: var(--color-emergency-dark); }
.bg-emergency-dark { background-color: var(--color-emergency-dark); }
.color-ink { color: var(--color-ink); }
.bg-ink { background-color: var(--color-ink); }
.color-ink-reverse { color: var(--color-ink-reverse); }
.bg-ink-reverse { background-color: var(--color-ink-reverse); }

/* Font Size Utility Classes */
.font-size-reading-3xs {
  font-size: var(--font-size-reading-3xs);
}
.font-size-reading-2xs {
  font-size: var(--font-size-reading-2xs);
}
.font-size-reading-xs {
  font-size: var(--font-size-reading-xs);
}
.font-size-reading-sm {
  font-size: var(--font-size-reading-sm);
}
.font-size-reading-md {
  font-size: var(--font-size-reading-md);
}
.font-size-reading-lg {
  font-size: var(--font-size-reading-lg);
}
.font-size-reading-xl {
  font-size: var(--font-size-reading-xl);
}
.font-size-reading-2xl {
  font-size: var(--font-size-reading-2xl);
}
.font-size-reading-3xl {
  font-size: var(--font-size-reading-3xl);
}
.font-size-display-3xs {
  font-size: var(--font-size-display-3xs);
}
.font-size-display-2xs {
  font-size: var(--font-size-display-2xs);
}
.font-size-display-xs {
  font-size: var(--font-size-display-xs);
}
.font-size-display-sm {
  font-size: var(--font-size-display-sm);
}
.font-size-display-md {
  font-size: var(--font-size-display-md);
}
.font-size-display-lg {
  font-size: var(--font-size-display-lg);
}
.font-size-display-xl {
  font-size: var(--font-size-display-xl);
}
.font-size-display-2xl {
  font-size: var(--font-size-display-2xl);
}
.font-size-display-3xl {
  font-size: var(--font-size-display-3xl);
}
.font-size-mono-3xs {
  font-size: var(--font-size-mono-3xs);
}
.font-size-mono-2xs {
  font-size: var(--font-size-mono-2xs);
}
.font-size-mono-xs {
  font-size: var(--font-size-mono-xs);
}
.font-size-mono-sm {
  font-size: var(--font-size-mono-sm);
}
.font-size-mono-md {
  font-size: var(--font-size-mono-md);
}
.font-size-mono-lg {
  font-size: var(--font-size-mono-lg);
}
.font-size-mono-xl {
  font-size: var(--font-size-mono-xl);
}
.font-size-mono-2xl {
  font-size: var(--font-size-mono-2xl);
}
.font-size-mono-3xl {
  font-size: var(--font-size-mono-3xl);
}
.font-size-proto-3xs {
  font-size: var(--font-size-proto-3xs);
}
.font-size-proto-2xs {
  font-size: var(--font-size-proto-2xs);
}
.font-size-proto-xs {
  font-size: var(--font-size-proto-xs);
}
.font-size-proto-sm {
  font-size: var(--font-size-proto-sm);
}
.font-size-proto-md {
  font-size: var(--font-size-proto-md);
}
.font-size-proto-lg {
  font-size: var(--font-size-proto-lg);
}
.font-size-proto-xl {
  font-size: var(--font-size-proto-xl);
}
.font-size-proto-2xl {
  font-size: var(--font-size-proto-2xl);
}
.font-size-proto-3xl {
  font-size: var(--font-size-proto-3xl);
}

/* Font Weight Utility Classes */
.font-weight-bold {
  font-weight: var(--font-weight-bold);
}
.font-weight-normal {
  font-weight: var(--font-weight-normal);
}
.font-weight-thin {
  font-weight: var(--font-weight-thin);
}
.font-weight-light {
  font-weight: var(--font-weight-light);
}
.font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}
.font-weight-heavy {
  font-weight: var(--font-weight-heavy);
}

/* Spacing Utility Classes */
.margin-breakpoint {
  margin: var(--spacing-breakpoint);
}
.padding-breakpoint {
  padding: var(--spacing-breakpoint);
}
.margin-width {
  margin: var(--spacing-width);
}
.padding-width {
  padding: var(--spacing-width);
}