:root {
  --font-comic-sans-ms-abstraction-comic-sans-2xl: 34.2;
  --font-comic-sans-ms-abstraction-comic-sans-2xs: 13.3;
  --font-comic-sans-ms-abstraction-comic-sans-3xl: 45.6;
  --font-comic-sans-ms-abstraction-comic-sans-3xs: 12.4;
  --font-comic-sans-ms-abstraction-comic-sans-display: 45.6;
  --font-comic-sans-ms-abstraction-comic-sans-h1: 34.2;
  --font-comic-sans-ms-abstraction-comic-sans-h2: 26.6;
  --font-comic-sans-ms-abstraction-comic-sans-h3: 22.8;
  --font-comic-sans-ms-abstraction-comic-sans-h4: 15.2;
  --font-comic-sans-ms-abstraction-comic-sans-h5: 14.3;
  --font-comic-sans-ms-abstraction-comic-sans-h6: 13.3;
  --font-comic-sans-ms-abstraction-comic-sans-lg: 22.8;
  --font-comic-sans-ms-abstraction-comic-sans-md: 16.2;
  --font-comic-sans-ms-abstraction-comic-sans-sm: 15.2;
  --font-comic-sans-ms-abstraction-comic-sans-xl: 26.6;
  --font-comic-sans-ms-abstraction-comic-sans-xs: 14.3;
  --font-family-comic-sans-ms: Comic Sans MS;
  --font-comic-sans-ms-size-1: 11.4;
  --font-comic-sans-ms-size-2: 12.4;
  --font-comic-sans-ms-size-3: 13.3;
  --font-comic-sans-ms-size-4: 14.3;
  --font-comic-sans-ms-size-5: 15.2;
  --font-comic-sans-ms-size-6: 16.2;
  --font-comic-sans-ms-size-7: 17.1;
  --font-comic-sans-ms-size-8: 19;
  --font-comic-sans-ms-size-9: 20.9;
  --font-comic-sans-ms-size-10: 22.8;
  --font-comic-sans-ms-size-11: 26.6;
  --font-comic-sans-ms-size-12: 30.4;
  --font-comic-sans-ms-size-13: 34.2;
  --font-comic-sans-ms-size-14: 38;
  --font-comic-sans-ms-size-15: 45.6;
  --font-comic-sans-ms-size-16: 53.2;
  --font-comic-sans-ms-size-17: 60.8;
  --font-comic-sans-ms-size-18: 76;
  --font-comic-sans-ms-size-19: 114;
  --font-comic-sans-ms-size-20: 133;
  --font-comic-sans-ms-size-05: 9.5;
  --font-comic-sans-ms-weight-bold: bold;
  --font-comic-sans-ms-weight-light: regular;
  --font-comic-sans-ms-weight-regular: regular;
  --font-open-sans-abstraction-open-sans-2xl: 35.2;
  --font-open-sans-abstraction-open-sans-2xs: 13.7;
  --font-open-sans-abstraction-open-sans-3xl: 46.9;
  --font-open-sans-abstraction-open-sans-3xs: 12.7;
  --font-open-sans-abstraction-open-sans-display: 46.9;
  --font-open-sans-abstraction-open-sans-h1: 35.2;
  --font-open-sans-abstraction-open-sans-h2: 27.35;
  --font-open-sans-abstraction-open-sans-h3: 23.5;
  --font-open-sans-abstraction-open-sans-h4: 15.63;
  --font-open-sans-abstraction-open-sans-h5: 14.7;
  --font-open-sans-abstraction-open-sans-h6: 13.7;
  --font-open-sans-abstraction-open-sans-lg: 23.5;
  --font-open-sans-abstraction-open-sans-md: 16.6;
  --font-open-sans-abstraction-open-sans-sm: 15.63;
  --font-open-sans-abstraction-open-sans-xl: 27.35;
  --font-open-sans-abstraction-open-sans-xs: 14.7;
  --font-family-open-sans: Open Sans;
  --font-open-sans-size-1: 11.7;
  --font-open-sans-size-2: 12.7;
  --font-open-sans-size-3: 13.7;
  --font-open-sans-size-4: 14.7;
  --font-open-sans-size-5: 15.63;
  --font-open-sans-size-6: 16.6;
  --font-open-sans-size-7: 17.5;
  --font-open-sans-size-8: 19.6;
  --font-open-sans-size-9: 21.5;
  --font-open-sans-size-10: 23.5;
  --font-open-sans-size-11: 27.35;
  --font-open-sans-size-12: 31.3;
  --font-open-sans-size-13: 35.2;
  --font-open-sans-size-14: 39.1;
  --font-open-sans-size-15: 46.9;
  --font-open-sans-size-16: 54.5;
  --font-open-sans-size-17: 62.6;
  --font-open-sans-size-18: 78.2;
  --font-open-sans-size-19: 117.36;
  --font-open-sans-size-20: 136.9;
  --font-open-sans-size-05: 9.8;
  --font-open-sans-weight-bold: bold;
  --font-open-sans-weight-light: light;
  --font-open-sans-weight-regular: regular;
  --spacing-none: 0;
}
