:root {
  --color-color-accent-cool-dark: #00a398;
  --color-color-accent-cool-darker: #0f6460;
  --color-color-accent-cool-darkest: rgba(255, 255, 255, 0);
  --color-color-accent-cool-light: #29e1cb;
  --color-color-accent-cool-lighter: #d5fbf3;
  --color-color-accent-cool-lightest: rgba(255, 255, 255, 0);
  --color-color-accent-cool-medium: #1dc2ae;
  --color-color-accent-cool-vivid: rgba(255, 255, 255, 0);
  --color-color-accent-warm-dark: #c3512c;
  --color-color-accent-warm-darker: #805039;
  --color-color-accent-warm-darkest: rgba(255, 255, 255, 0);
  --color-color-accent-warm-light: #ecc0a7;
  --color-color-accent-warm-lighter: #f4e3db;
  --color-color-accent-warm-lightest: rgba(255, 255, 255, 0);
  --color-color-accent-warm-medium: #dca081;
  --color-color-accent-warm-vivid: rgba(255, 255, 255, 0);
  --color-color-base-dark: #565c65;
  --color-color-base-darker: #3d4551;
  --color-color-base-darkest: #1c1d1f;
  --color-color-base-light: #a9aeb1;
  --color-color-base-lighter: #dfe1e2;
  --color-color-base-lightest: #edeff0;
  --color-color-base-medium: #71767a;
  --color-color-disabled-dark: #3d4551;
  --color-color-disabled-darker: #1c1d1f;
  --color-color-disabled-darkest: rgba(255, 255, 255, 0);
  --color-color-disabled-light: #8d9297;
  --color-color-disabled-lighter: #c6cace;
  --color-color-disabled-lightest: rgba(255, 255, 255, 0);
  --color-color-disabled-medium: #71767a;
  --color-color-emergency-dark: #40282c;
  --color-color-emergency-medium: #b41d39;
  --color-color-error-dark: #832133;
  --color-color-error-darker: #4f1c24;
  --color-color-error-darkest: rgba(255, 255, 255, 0);
  --color-color-error-light: #fd8ba0;
  --color-color-error-lighter: #f3e1e4;
  --color-color-error-lightest: rgba(255, 255, 255, 0);
  --color-color-error-medium: #b41d39;
  --color-color-foundation-black: #ffffff;
  --color-color-foundation-link: #2491ff;
  --color-color-foundation-link-active: #1f303e;
  --color-color-foundation-link-hover: #2491ff;
  --color-color-foundation-link-reverse: #a9aeb1;
  --color-color-foundation-link-reverse-active: #ffffff;
  --color-color-foundation-link-reverse-hover: #edeff0;
  --color-color-foundation-link-visited: #2491ff;
  --color-color-foundation-white: #000000;
  --color-color-info-dark: #009ec1;
  --color-color-info-darker: #2a646d;
  --color-color-info-darkest: rgba(255, 255, 255, 0);
  --color-color-info-light: #99deea;
  --color-color-info-lighter: #e7f6f8;
  --color-color-info-lightest: rgba(255, 255, 255, 0);
  --color-color-info-medium: #5dc0d1;
  --color-color-primary-dark: #274863;
  --color-color-primary-darker: #1f303e;
  --color-color-primary-darkest: rgba(255, 255, 255, 0);
  --color-color-primary-light: #73b3e7;
  --color-color-primary-lighter: #d9e8f6;
  --color-color-primary-lightest: rgba(255, 255, 255, 0);
  --color-color-primary-medium: #2378c3;
  --color-color-primary-vivid: #2c608a;
  --color-color-secondary-dark: #b41d39;
  --color-color-secondary-darker: #832133;
  --color-color-secondary-darkest: rgba(255, 255, 255, 0);
  --color-color-secondary-light: #e09aa6;
  --color-color-secondary-lighter: #f8dee1;
  --color-color-secondary-lightest: rgba(255, 255, 255, 0);
  --color-color-secondary-medium: #cd425b;
  --color-color-secondary-vivid: #e41b3c;
  --color-color-success-dark: #008817;
  --color-color-success-darker: #216e1f;
  --color-color-success-darkest: rgba(255, 255, 255, 0);
  --color-color-success-light: #b8d293;
  --color-color-success-lighter: #eaf4dd;
  --color-color-success-lightest: rgba(255, 255, 255, 0);
  --color-color-success-medium: #00a91c;
  --color-color-warning-dark: #e5a000;
  --color-color-warning-darker: #936f38;
  --color-color-warning-darkest: rgba(255, 255, 255, 0);
  --color-color-warning-light: #fee685;
  --color-color-warning-lighter: #faf3d1;
  --color-color-warning-lightest: rgba(255, 255, 255, 0);
  --color-color-warning-medium: #ffbe2e;
}
